.storeLinkBtn {
	background-color: #00ae1c;
	border: 1px #00ae1c solid;
	color: #fff;
	font-weight: 400;
	padding: 0.25rem 1.25rem;
	border-radius: 8px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 2px;
	font-size: 1rem;
	text-transform: capitalize;
	position: relative;
	transition: background-color 0.15s ease;

	&:active {
		background-color: #0cd52b;
	}
}

.linkBadge {
	position: absolute;
	top: -8px;
	right: -8px;
	min-width: 16px;
	width: fit-content;
	height: 16px;
	color: #000;
	padding: 2px;
	border-radius: 100px;
	background-color: #fbff29;
	font-size: 0.75rem;
	line-height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}
