.ticTacToeField {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background-color: #313131;
	padding: 0.5rem;
	border-radius: 8px;
	width: fit-content;
}

.status {
	font-size: 2rem;
	font-weight: 500;
	color: #ef9919;
}

.winnerLine {
	position: absolute;
	background-color: #fff;
	border-radius: 100px;
}

.myrotate-45 {
	top: 50%;
	transform-origin: center;
	transform: translateY(-50%) rotate(45deg);
}

.myrotate-135 {
	top: 50%;
	transform-origin: center;
	transform: translateY(-50%) rotate(135deg);
}
